<footer class="footer-area ml-110">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-widget footer-about">
                    <h5 class="footer-widget-title">درباره ما</h5>
                    <p class="about-company">
                        {% autoescape off %}
                        {{ site_setting.0.site_description }}
                        {% endautoescape %}
                    </p>
                    <div class="footer-contact-actions">
                        <div class="footer-action"><a>
                            {{ site_setting.0.co_address }}
                        </a></div>
                    </div>
                    <ul class="footer-social-links d-flex">
                        {% for social in social_media %}
                            <li><a href="{{ social.social_media_url }}"><img
                                    src="{{ base_url }}{{ social.social_media_image }}" width="30px" alt="social_media_name"></img></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 ">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-widget-title">لینک های سریع</h5>
                            <ul class="footer-links">
                                <li><a href="/">صفحه اصلی</a></li>
                                <li><a href="/shop/"> فروشگاه </a></li>
                                <li><a href=""> پروفایل کاربری </a></li>
                                <li><a href="/blogs/"> لیست مقالات </a></li>
                                <li><a href="/questions/"> سوالات متداول </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-widget-title"> دسته بندی ها </h5>
                            <ul class="footer-links">
                                {% for product_group in product_groups|slice:':5' %}
                                <li><a href=""> {{ product_group.group_title }} </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
