<main>
    <section class="top-product-wrapper ml-110 mt-50 mb-3 pb-2 details_seller">
        <h4 class="details_seller_title"> نام فروشنده </h4>
        <section class="d-flex flex-wrap details_seller">
            <section>
                حیطه فعالیت :
                <span>
                        نمی دونم
                    </span>
            </section>
            <section>
                تعداد محصولات :
                <span>
                        50 تا دونه
                    </span>
            </section>
        </section>
    </section>
    <section class="top-product-wrapper ml-110 mt-50 mb-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mb-25">
                    <div class="section-head">
                        <h2 class="section-title text-center"> لیست محصولات </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="tab-content eg-tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active eg-product-tab-pane" id="eg-pills-one999"
                             role="tabpanel" aria-labelledby="eg-pills-999">
                            <div class="row">
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا ">
                                                <img src="../image/d61d3462d8544871a7669549b31f027c.jpg"
                                                     alt="قهوه عربیکا متن خانگی">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه عربیکا
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300 تومان</del>
                                                <ins class="new-price">290
                                                    تومان
                                                </ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا">
                                                <img src="../image/fd6206d034774417b32458c091388034.jpg"
                                                     alt="کاپیچینو">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>

                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    کاپیچینو
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300
                                                    تومان
                                                </del>
                                                <ins class="new-price">250,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="صیفی جات">
                                                <img src="../image/29ae3fb0a6b942ef8083c096f91c2557.jpg"
                                                     alt="صیفی جات">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#" title="قهوه اسیاب شده">
                                                    قهوه اسیاب شده
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">50,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="لیمو">
                                                <img src="../image/20d0238adeee40bc8df586abb6ac65a5.jpg"
                                                     alt="لیومی تازه مخصوص ابمیوه گیری">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه برزیلی
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">80,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا ">
                                                <img src="../image/d61d3462d8544871a7669549b31f027c.jpg"
                                                     alt="قهوه عربیکا متن خانگی">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه عربیکا
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300 تومان</del>
                                                <ins class="new-price">290
                                                    تومان
                                                </ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا">
                                                <img src="../image/fd6206d034774417b32458c091388034.jpg"
                                                     alt="کاپیچینو">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>

                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    کاپیچینو
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300
                                                    تومان
                                                </del>
                                                <ins class="new-price">250,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="صیفی جات">
                                                <img src="../image/29ae3fb0a6b942ef8083c096f91c2557.jpg"
                                                     alt="صیفی جات">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#" title="قهوه اسیاب شده">
                                                    قهوه اسیاب شده
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">50,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="لیمو">
                                                <img src="../image/20d0238adeee40bc8df586abb6ac65a5.jpg"
                                                     alt="لیومی تازه مخصوص ابمیوه گیری">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه برزیلی
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">80,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا ">
                                                <img src="../image/d61d3462d8544871a7669549b31f027c.jpg"
                                                     alt="قهوه عربیکا متن خانگی">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه عربیکا
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300 تومان</del>
                                                <ins class="new-price">290
                                                    تومان
                                                </ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="قهوه عربیکا">
                                                <img src="../image/fd6206d034774417b32458c091388034.jpg"
                                                     alt="کاپیچینو">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>

                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    کاپیچینو
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <del class="old-price">300
                                                    تومان
                                                </del>
                                                <ins class="new-price">250,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="صیفی جات">
                                                <img src="../image/29ae3fb0a6b942ef8083c096f91c2557.jpg"
                                                     alt="صیفی جات">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#" title="قهوه اسیاب شده">
                                                    قهوه اسیاب شده
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">50,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- item -->
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mx-auto mx-sm-0">
                                    <div class="product-card-l">
                                        <div class="product-img">
                                            <a href="#" title="لیمو">
                                                <img src="../image/20d0238adeee40bc8df586abb6ac65a5.jpg"
                                                     alt="لیومی تازه مخصوص ابمیوه گیری">
                                            </a>
                                            <div class="product-lavels">
                                                <span class="new">جدید</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                                <a class="cursor-pointer"><i
                                                        class="flaticon-shopping-cart cursor-pointer"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-title d-flex justify-content-between">
                                                <a href="#">
                                                    قهوه برزیلی
                                                </a>
                                                <ul class="d-flex product-rating-xl text-warning">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star"></i></li>
                                                </ul>
                                            </h3>
                                            <div class="product-price text-center">
                                                <ins class="new-price">80,000 تومان</ins>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
